<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>OUR BLOGGING SITE</title>
    <link rel="stylesheet" href="{% static 'mycss/style.css' %}"/>
</head>
<nav class="navbar navbar-dark bg-dark">
    <ul class="nav justify-content-left">
        <li class="nav-item">
            <a class="navbar-brand" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link my-color" href="{% url 'basic:procedure' %}">Procedure</a>
        </li>
        {% if user.is_superuser %}

            <li class="nav-item">
                <a class="nav-link my-color" href="{% url 'basic:display1' %}">Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link my-color" href="{% url 'basic:display1' %}">Members</a>
            </li>
            <li class="nav-item">
                <a class="nav-link my-color" href="{% url 'basic:display1' %}">To Post</a>
            </li>
            <li class="nav-item">
                <a class="nav-link my-color" href="{% url 'basic:display1' %}">My Profile</a>
            </li>

        {% else %}
            {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link my-color" href="{% url 'basic:post_topic_list' %}">Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link my-color" href="{% url 'basic:member_list' %}">Members</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link my-color" href="{% url 'basic:post_create' id=user %}">To Post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link my-color" href="{% url 'basic:my_profile' %}">My Profile</a>
                </li>
            {% else %}

                <li class="nav-item">
                    <a class="nav-link my-color" href="{% url 'basic:display1' %}">Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link my-color" href="{% url 'basic:display1' %}">Members</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link my-color" href="{% url 'basic:display1' %}">To Post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link my-color" href="{% url 'basic:display1' %}">My Profile</a>
                </li>
            {% endif %}
        {% endif %}
    </ul>
    <ul class="nav justify-content-right">
        {% if user.is_superuser %}
            <li class="nav-item">
                <a class="nav-link my-color" href="{% url 'basic:register' %}"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 512 512"><title>ionicons-v5-j</title><path style="fill:cornsilk;" d="M256,48C141.31,48,48,141.31,48,256s93.31,208,208,208,208-93.31,208-208S370.69,48,256,48ZM205.78,164.82C218.45,151.39,236.28,144,256,144s37.39,7.44,50.11,20.94C319,178.62,325.27,197,323.79,216.76,320.83,256,290.43,288,256,288s-64.89-32-67.79-71.25C186.74,196.83,193,178.39,205.78,164.82ZM256,432a175.49,175.49,0,0,1-126-53.22,122.91,122.91,0,0,1,35.14-33.44C190.63,329,222.89,320,256,320s65.37,9,90.83,25.34A122.87,122.87,0,0,1,382,378.78,175.45,175.45,0,0,1,256,432Z"/></svg>Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link my-color" href="{% url 'basic:user_login' %}"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 512 512"><title>ionicons-v5-o</title><path d="M192,176V136a40,40,0,0,1,40-40H392a40,40,0,0,1,40,40V376a40,40,0,0,1-40,40H240c-22.09,0-48-17.91-48-40V336" style="fill:none;stroke:cornsilk;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><polyline points="288 336 368 256 288 176" style="fill:none;stroke:cornsilk;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><line x1="80" y1="256" x2="352" y2="256" style="fill:none;stroke:cornsilk;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/></svg>Log In</a>
            </li>
        {% else %}
            {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="navlink my-color" href="{% url 'basic:logout' %}">{{ request.user }} : Log Out</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link my-color" href="{% url 'basic:register' %}"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 512 512"><title>ionicons-v5-j</title><path style="fill:cornsilk;" d="M256,48C141.31,48,48,141.31,48,256s93.31,208,208,208,208-93.31,208-208S370.69,48,256,48ZM205.78,164.82C218.45,151.39,236.28,144,256,144s37.39,7.44,50.11,20.94C319,178.62,325.27,197,323.79,216.76,320.83,256,290.43,288,256,288s-64.89-32-67.79-71.25C186.74,196.83,193,178.39,205.78,164.82ZM256,432a175.49,175.49,0,0,1-126-53.22,122.91,122.91,0,0,1,35.14-33.44C190.63,329,222.89,320,256,320s65.37,9,90.83,25.34A122.87,122.87,0,0,1,382,378.78,175.45,175.45,0,0,1,256,432Z"/></svg>Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link my-color" href="{% url 'basic:user_login' %}"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 512 512"><title>ionicons-v5-o</title><path d="M192,176V136a40,40,0,0,1,40-40H392a40,40,0,0,1,40,40V376a40,40,0,0,1-40,40H240c-22.09,0-48-17.91-48-40V336" style="fill:none;stroke:cornsilk;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><polyline points="288 336 368 256 288 176" style="fill:none;stroke:cornsilk;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><line x1="80" y1="256" x2="352" y2="256" style="fill:none;stroke:cornsilk;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/></svg>Log In</a>
                </li>
            {% endif %}
        {% endif %}
    </ul>
</nav>

<body>

    {% block content %}



    {% endblock %}
    <h4>All the posts in this Blog are related to these :</h4>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="{% static 'myimage/sc_tech.jpg' %}" height="500" width="50" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'myimage/sc_tech_1.jpg' %}" height="500" width="50" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'myimage/art_culture.jpg' %}" height="500" width="50" alt="Third slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'myimage/art_culture_1.jpg' %}" height="500" width="50" alt="Fourth slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'myimage/literature.jpg' %}" height="500" width="50" alt="Fifth slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'myimage/yoga.jpg' %}" height="500" width="50" alt="Sixth slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% block javascript %}
    {% endblock %}
</body>
</html>