{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <h3>Post :</h3>
    <div class="container text-align-center">
        <div class="jumbotron">
            <div class="main-comment-section">
                <p>{{ post.topic }}</p>
                <p>{{ post.date }}</p>
                <p> By <a href="{% url 'basic:view_profile' user=post.author %}">{{ post.author|capfirst }}</p></a>
                <p>{{ post.content }}</p>
                <form class="form-group-row">
                    {% if post.video_clips %}
                        <div id='media-player'>
                            <video id='media-video' preload="auto" controls>

                                <source src="{{ post.video_clips.url }}">
                            </video>
                            <div id='media-controls'></div>
                        </div>
                    {% endif %}
                    {% if post.images %}
                        <img src="{{ post.images.url }}" height="100">
                    {% endif %}
                    {% if post.site_url %}
                        Site: <a href="{{ post.site_url }}">{{ post.site_url }}</a>
                    {% endif %}
                </form>
                <div class="d-flex flex-lg-row justify-content-between">
                    {{ post.total_likes }} Like{{ likes|pluralize }}
                    {% if post.author != request.user %}
                    <form action="{% url 'basic:like_post' %}" method="POST">
                        {% csrf_token %}
                        <button style="font-size:24px" name="post_id" value="{{ post.id }}" ><i class="fa fa-thumbs-up" style="color:green"></i></button>
                    </form>
                    {% endif %}
                    {{ post.total_dislikes }} Dislike{{ dislikes|pluralize }}
                    {% if post.author != request.user %}
                    <form action="{% url 'basic:dislike_post' %}" method="POST">
                        {% csrf_token %}
                        <button style="font-size:24px" name="post_id" value="{{ post.id }}" ><i class="fa fa-thumbs-down" style="color:red"></i></button>
                    </form>
                    {% endif %}
                    <!-- {% if post.author == request.user %}
                        <a href="#" class="btn btn-danger btn-lg" role="button" aria-disabled="true">Delete</a>
                    {% endif %}
                    <a href="{% url 'basic:post_comment_no' id=post.id %}" class="btn btn-success btn-lg" role="button" aria-disabled="true">Comments</a> -->
                </div>
            </div>
        </div>
    </div>

    <br><br>
    <h3>Comments : </h3>
    <div class="container text-align-center">
        <div class="jumbotron">
            <div class="main-comment-section">
                {% for comment in comments %}
                    <p>{{ comment.date }}</p>
                    <p> By <a href="{% url 'basic:view_profile' user=comment.author %}">{{ comment.author|capfirst }}</p></a>
                    <p>{{ comment.content }}</p>
                    <form class="form-group-row">
                        {% if comment.video_clips %}
                            <div id='media-player'>
                                <video id='media-video' preload="auto" controls>

                                    <source src="{{ comment.video_clips.url }}">
                                </video>
                                <div id='media-controls'></div>
                            </div>
                        {% endif %}
                        {% if comment.images %}
                            <img src="{{ comment.images.url }}" height="100">
                        {% endif %}
                        {% if comment.site_url %}
                            Site: <a href="{{ comment.site_url }}">{{ comment.site_url }}</a>
                        {% endif %}
                    </form>
                    <div class="d-flex flex-lg-row justify-content-between">
                        <a href="{% url 'basic:reply_view' id=comment.id %}" >See Replies</a>
                        {{ comment.total_likes }} Like {{ likes|pluralize }}
                        {{ comment.total_dislikes }} Dislike {{ dislikes|pluralize }}
                        {% if comment.author != request.user %}
                            <form action="{% url 'basic:like_comment' %}" method="POST">
                                {% csrf_token %}
                                <button style="font-size:24px" name="comment_id" value="{{ comment.id }}" ><i class="fa fa-thumbs-up" style="color:green"></i></button>
                            </form>
                            <form action="{% url 'basic:dislike_comment' %}" method="POST">
                                {% csrf_token %}
                                <button style="font-size:24px" name="comment_id" value="{{ comment.id }}" ><i class="fa fa-thumbs-down" style="color:red"></i></button>
                            </form>
                            <a href="{% url 'basic:reply_create_view' id=comment.id %}" class="btn btn-info btn-sm" role="button" aria-disabled="true">New Reply</a>
                        {% endif %}
                        {% if comment.author == request.user %}
                            <a href="{% url 'basic:confirm_comment_deletion_view' id=comment.id %}" class="btn btn-danger btn-sm" role="button">Delete</a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}