{% extends 'base.html' %}
{% block content %}
    <div class="jumbotron">
        <div class="container">
            <form action="{% url 'basic:delete' pk=user.id %}" method="POST">
                {% csrf_token %}
                <h3>Hey! {{ user.first_name }} {{ user.last_name }}</h3>
                <h3>Are you sure about deleting yourself from this Blog ?</h3>
                <button class="btn btn-primary" type="submit">Yes</button>
            </form>
        </div>
    </div>
{% endblock %}