{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="container text-align-center">
        <div class="jumbotron">
            <ol>
                {% if posts %}
                    {% for post in posts %}
                        <li>
                            <p>{{ post }}</p>
                            <p> By <a href="{% url 'basic:view_profile' user=post.author %}">{{ post.author|capfirst }}</p></a>
                            <p>{{ post.date }}</p>
                            <p>{{ post.comment }}</p>
                            <form class="form-group-row">
                                {% if post.video_clips %}

                                    <div id='media-player'>
                                        <video id='media-video' preload="auto" controls>

                                        <source src="{{ post.video_clips.url }}">
                                        </video>
                                        <div id='media-controls'></div>
                                    </div>
                                {% endif %}
                                {% if post.images %}
                                    <img src="{{ post.images.url }}" height="100">
                                {% endif %}
                                {% if post.site_url %}
                                    Site: <a href="{{ post.site_url }}">{{ post.site_url }}</a>
                                {% endif %}
                            </form>
                            <form class="form-group row">
                                <!-- {% csrf_token %} -->

                                <div class="d-flex flex-lg-row justify-content-between">
                                    {{ post.total_likes }} Like{{ likes|pluralize }}
                                    {{ post.total_dislikes }} Dislike{{ dislikes|pluralize }}
                                    {% if post.author != request.user %}
                                        <form action="{% url 'basic:like_post' %}" method="POST">
                                            {% csrf_token %}
                                            <!-- <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary btm-sm">Like</button> -->
                                        </form>
                                        <form action="{% url 'basic:like_post' %}" method="POST">
                                            {% csrf_token %}
                                            <button style="font-size:24px" name="post_id" value="{{ post.id }}" ><i class="fa fa-thumbs-up" style="color:green"></i></button>
                                        </form>
                                        <form action="{% url 'basic:dislike_post' %}" method="POST">
                                            {% csrf_token %}
                                            <button style="font-size:24px" name="post_id" value="{{ post.id }}" ><i class="fa fa-thumbs-down" style="color:red"></i></button>
                                        </form>
                                    {% endif %}
                                    {% if post.author == request.user %}
                                        <a href="{% url 'basic:confirm_post_deletion_view' id=post.id %}" class="btn btn-danger btn-lg" role="button" aria-disabled="true">Delete</a>
                                    {% endif %}
                                    <a href="{% url 'basic:post_comment_no' id=post.id %}" class="btn btn-success btn-lg" role="button" aria-disabled="true">Comments</a>
                                </div>
                            </form>
                        </li>
                        <hr>
                    {% endfor %}
                {% else %}
                    <strong>Anything has not yet been posted in this topic.</strong>
                {% endif %}
            </ol>
        </div>
    </div>

{% endblock %}