{% extends 'base1.html' %}
{% block content %}
<div class="container text-align-center">
    <div class="jumbotron">
        <h3><strong>Procedure :</strong>
            At first you have to SignUp and then LogIn. Otherwise, you won't be able to view any of the pages.
            It's better to Signup with your profile picture. Then, to see the members of this Blog you have to
            go to Members. To see previous posts, to comment on previous posts or to post your reply you have 
            to click on Posts and follow the links. To post a new Post of your own you have to click on To Post.
        </h3>
    </div>
</div>
{% endblock %}