{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1>Register Here:</h1>
        {% if error %}
            <ul>
                <li>{{ error }}</li>
                <li>Please fill-up correctly and press "Sign Up" button again and retry to register.</li>
            </ul>
        {% endif %}
        <form action="{% url 'basic:register' %}" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="Firstname" class="col-xs-2">Firstname</label>
                <input type="text" class="col-xs-2" id="Firstname" name="firstname" style="width:300px" required><br>
                <label for="Lastname" class="col-xs-2">Lastname</label>
                <input type="text" class="col-xs-2" id="Lastname" name="lastname" style="width:300px" required><br>
                <label for="Username" class="col-xs-2">Username</label>
                <input type="text" class="col-xs-2" id="Username" name="username" style="width:300px" required><br>
                <label for="InputEmail" class="col-xs-2">Email address</label>
                <input type="email" class="col-xs-2" id="InputEmail" aria-describedby="emailHelp" style="width:300px" name="email" placeholder="your@email.com" required>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small><br>
                <label for="InputPassword1" class="col-xs-2">Password</label>
                <input type="password" class="col-xs-2" id="InputPassword1" name="password1" style="width:300px" required><br>
                <label for="InputPassword2" class="col-xs-2">Confirm Password</label>
                <input type="password" class="col-xs-2" id="InputPassword2" name="password2" style="width:300px" required><br>
                    {{ form }}
            </div>
            <div class="btn-group">
                <button class="btn btn-primary" type="submit">Register</button>
            </div>
            
        </form>
    </div>
</div>
{% endblock %}